<html>
    <head>
        <title>Homepage</title>
        <link
            rel="stylesheet"
            href="./styles.css"
        />
    </head>
    <body>
        <%- include('components/navbar', {links: links}) %>

        <ul>
            <% users.forEach((user) => { %> <%- include('components/users/user',
            {user: user}) %> <%})%>
        </ul>

        <%- include('components/footer') %>
    </body>
</html>
