<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <%- include('components/navbar', {links: links}) %>

        <ul>
            <% users.forEach((user) => { %> <%- include('components/users/user',
            {user: user}) %> <%})%>
        </ul>
    </body>
</html>
